<div class="login-form-flex">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-flex-container">
          <button mat-raised-button color="primary" type="submit">Regiter</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
